body {
  font-family: 'Monaco', 'Menlo', 'Droid Sans Mono', 'Courier New', monospace;
  font-size: 10pt;
}

#vt100 a { 
  text-decoration:  none;
  color:            inherit;
}

#vt100 a:hover { 
  text-decoration:  underline;
}

#vt100 #reconnect {
  position:         absolute;
  z-index:          2;
}

#vt100 #reconnect input { 
  padding:          1ex;
  font-weight:      bold;
  font-size:        10pt;
}

#vt100 #cursize {
  background:       #EEEEEE;
  border:           1px solid black;
  font-family:      'Monaco', 'Menlo', 'Droid Sans Mono', 'Courier New', monospace;
  font-size:        10pt;
  font-weight:      bold;
  padding:          1ex;
  position:         absolute;
  z-index:          2;
}

#vt100 pre { 
  margin:           0px;
}

#vt100 pre pre {
  overflow:         hidden;
}

#vt100 #scrollable {
  overflow-x:       hidden;
  overflow-y:       scroll;
  position:         relative;
  padding:          1px;
}

#vt100 #console, #vt100 #alt_console, #vt100 #cursor, #vt100 #lineheight { 
  font-family: 'Monaco', 'Menlo', 'Droid Sans Mono', 'Courier New', monospace;
}

#vt100 #lineheight { 
  position:         absolute;
  visibility:       hidden;
}

#vt100 #cursor {
  position:         absolute;
  left:             0px;
  top:              0px;
  overflow:         hidden;
  z-index:          1;
}

#vt100 #cursor.bright { 
  background-color: #f05c56;
  color:            white;
}

#vt100 #cursor.dim {
  visibility:       hidden;
}

#vt100 #cursor.inactive {
  border:           1px solid #f05c56;
  margin:           -1px;
}

#vt100 #padding { 
  visibility:       hidden;
  width:            1px;
  height:           0px;
  overflow:         hidden;
}

#vt100 .hidden {
  position:         absolute;
  top:              -10000px;
  left:             -10000px;
  width:            0px;
  height:           0px;
}

#vt100 #menu { 
  overflow:         visible;
  position:         absolute;
  z-index:          3;
}

#vt100 #menu .popup {
  background-color: #EEEEEE;
  border:           1px solid black;
  font-family:      sans-serif;
  position:         absolute;
}

#vt100 #menu .popup ul { 
  list-style-type:  none;
  padding:          0px;
  margin:           0px;
  min-width:        10em;
}

#vt100 #menu .popup li { 
  padding:          3px 0.5ex 3px 0.5ex;
}

#vt100 #menu .popup li.hover {
  background-color: #444444;
  color:            white;
}

#vt100 #menu .popup li.disabled {
  color:            #AAAAAA;
}

#vt100 #menu .popup hr { 
  margin:           0.5ex 0px 0.5ex 0px;
}

#vt100 #menu img { 
  margin-right:     0.5ex;
  width:            1ex;
  height:           1ex;
}

#vt100 #scrollable.inverted { color:            #ffffff;
                              background-color: #000000; }
/* IE cannot properly handle "inherit" properties. So, the monochrome.css/
 * color.css style sheets cannot work, if we define colors in styles.css.
 */

#vt100 #kbd_button {
  float:                left;
  position:             fixed;
  z-index:              0;
  visibility:           hidden;
}
  
@media print {
  #vt100 .scrollback {
    display:        none;
  }

  #vt100 #reconnect, #vt100 #cursor, #vt100 #menu { 
    visibility:     hidden;
  }

  #vt100 #scrollable { 
    overflow:       hidden;
  }

  #vt100 #console, #vt100 #alt_console { 
    overflow:       hidden;
    width:          1000000ex;
  }
}


#vt100 #scrollable {
  color:            #ffffff;
  background-color: #37424a;
}

#vt100 #scrollable.inverted {
  color:            #37424a;
  background-color: #ffffff;
}

#vt100 .ansi15 {
  color:            #37424a;
}

#vt100 .bgAnsi0 {
  background-color: #ffffff;
}
